* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 512px;
     background-color: rgba(42, 2, 160, 0.975);
}

img {
    width: 512px;
}

main {
    
} 

#pieno {
   
}

#primo {
    color: white;
    font-family: "Sigmar", sans-serif;
    text-align: center;
    margin-top: 5rem;
    margin-left: 1px;
    margin-right: 2px;
}

#secondo {
    color: white;
    text-align: center;
}

#button1 {
    text-align: center;
    border: solid white;
    border-radius: 6px;
    width: 240px;
    height: 36px;
    margin-left: 116px;
    margin-top: 24px;
background-color: white;
padding-top: 6px;
}

#button2 {
    text-align: center;
     width: 240px;
    height: 36px;
    margin-left: 116px;
    margin-top: 24px;
   background-color: rgb(64, 43, 226);
   border: solid rgb(64, 43, 226);
   border-radius: 6px;
   padding-top: 6px;
   color: white;
}

#contorno {
    border: solid rgb(64, 43, 226);
    margin-top: 44px;
    width: 360px;
    background-color: rgb(64, 43, 226);
    text-align: center;
    margin-left: 70px;
    color: white;
    border-radius: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    video {
        width: 300px;
        border-radius: 12px;
        margin-bottom: 32px;
        margin-top: 12px;

    }
}

#titolo {
font-family: "Sigmar", sans-serif;
font-size: 36px;
}

#fase {
    border: solid rgb(64, 43, 226);
    margin-top: 44px;
    width: 360px;
    background-color: rgb(64, 43, 226);
    text-align: center;
    margin-left: 70px;
    color: white;
    border-radius: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    video {
       width: 300px;
        border-radius: 12px;
        margin-bottom: 32px;
        margin-top: 12px; 
    }
}

    
  







