* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 512px;
     background-color: rgba(42, 2, 160, 0.975);
}

img {
    width: 512px;
}

main {
    
} 

#pieno {
   
}

#primo {
    color: white;
    font-family: "Sigmar", sans-serif;
}

#secondo {
    color: white;
}