* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 512px;
}

main {
    background-color: rgba(42, 2, 160, 0.975);
} 

#primo {
    color: white;

}

#secondo {
    color: white;
}